@model Survey

@{
    ViewData["Title"] = "Index";
    string msg = TempData["Message"] as string;
}

@{
    if (!string.IsNullOrEmpty(msg))
    {
        <p class="alert alert-dismissable alert-info">@msg</p>
        }
    }
<section class="centeredPanel">
<h2>Daily Survey</h2>
<br />
<p>Choose your favorite park, and tell us a little bit about yourself!</p>
<br />
<form class="survey-form" asp-controller="Survey" asp-action="Index" method="post">
    <table class="table">
        <tr>
            <td>Favorite National Park</td>
            <td>
                <select asp-for="@Model.FavoriteParkSelection" asp-items="@Model.FavoritePark">
                    <option selected disabled>--Select a park--</option>
                </select><span asp-validation-for="FavoriteParkSelection" class="alert"></span>
            </td>
        </tr>
        <tr>
            <td>Your Email</td>
            <td>
                <input type="email" asp-for="EmailAddress" placeholder="--Enter your email--" />
                <span asp-validation-for="EmailAddress" class="alert"></span>
            </td>
        </tr>
        <tr>
            <td>State of Residence</td>
            <td>
                <select asp-for="@Model.State" asp-items="@Model.ResidenceState">
                    <option selected disabled>--Select a state--</option>
                </select>
                <span asp-validation-for="State" class="alert"></span>
            </td>
        </tr>
        <tr>
            <td>Activity Level</td>
            <td>
                <select asp-for="@Model.ActivityLevel" asp-items="@Model.PhysicalActivityLevel">
                    <option selected disabled>--Select an activity level--</option>
                </select>
                <span asp-validation-for="ActivityLevel" class="alert"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit Survey!" /></td>
        </tr>
    </table>
</form>
</section>
    