@model Survey

@{
    ViewData["Title"] = "Index";
    string msg = TempData["Message"] as string;
}

@{
    if (!string.IsNullOrEmpty(msg))
    {
        <p class="alert alert-dismissable alert-info">@msg</p>
    }
}

<h2>Daily Survey</h2>
<br />
<p>Choose your favorite park, and tell us a little bit about yourself!</p>
<br />
<form asp-controller="Survey" asp-action="Index" method="post">
    <table class="table">
        <tr>
            <td>Favorite National Park</td>
            <td>
                <select asp-for="@Model.FavoriteParkSelection" asp-items="@Model.FavoritePark">
                    <option>--Select a park--</option>
                </select><span asp-validation-for="FavoritePark"></span>
            </td>
        </tr>
        <tr>
            <td>Your Email</td>
            <td>
                <input type="email" asp-for="EmailAddress" />
                <span asp-validation-for="EmailAddress"></span>
            </td>
        </tr>
        <tr>
            <td>State of Residence</td>
            <td>
                <select asp-for="@Model.State" asp-items="@Model.ResidenceState"></select>
                <span asp-validation-for="State"></span>
            </td>
        </tr>
        <tr>
            <td>Activity Level</td>
            <td>
                <select asp-for="@Model.ActivityLevel" asp-items="@Model.PhysicalActivityLevel"></select>
            <span asp-validation-for="ActivityLevel"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit Survey!" /></td>
        </tr>
    </table>
</form>