@model Survey

@{
    ViewData["Title"] = "Index";
    string msg = TempData["Message"] as string;
}

@{
    if (!string.IsNullOrEmpty(msg))
    {
        <p class="alert alert-dismissable alert-info">@msg</p>
    }
}

<h2>Daily Survey</h2>
<br />
<p>Choose your favorite park, and tell us a little bit about yourself!</p>
<br />
<form>
    <table class="table">
        <tr>
            <td>Favorite National Park</td>
            <td>
                <select asp-for="@Model.FavoriteParkSelection" asp-items="@Model.FavoritePark"></select>
            </td>
        </tr>
        <tr>
            <td>Your Email</td>
            <td><input type="email" asp-for="EmailAddress" /></td>
        </tr>
        <tr>
            <td>State of Residence</td>
            <td><input type="text" asp-for="State" /></td>
        </tr>
        <tr>
            <td>Activity Level</td>
            <td><select asp-for="@Model.ActivityLevel" asp-items="@Model.PhysicalActivityLevel"></select></td>
        </tr>
    </table>
</form>