@model DetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<div class="park-detail center-block">
    <br />
    <img class="center-block" src="~/images/parks/@(Model.Park.ParkCode).jpg"/>@*Pic*@
    <br />
    <h2>@Model.Park.Name</h2>
    <br />
    <p>@Model.Park.Description</p>
    <br />
    <h1>Weather TBD</h1>
    <br />
    <table class="table table-bordered">
        
        <tbody>
            <tr>
                <td>State</td>
                <td>@Model.Park.State</td>
            </tr>
            <tr>
                <td>Entry Fee</td>
                <td>@($"{Model.Park.EntryFee:C}")</td>
            </tr>
            <tr>
                <td>Miles of Trail</td>
                <td>@Model.Park.MilesOfTrail</td>
            </tr>
            <tr>
                <td>Number of Campsites</td>
                <td>@Model.Park.NumberOfCampsites</td>
            </tr>
            <tr>
                <td>Climate</td>
                <td>@Model.Park.Climate</td>
            </tr>
            <tr>
                <td>Annual Visitor Count</td>
                <td>@Model.Park.AnnualVisitorCount</td>
            </tr>
            <tr>
                <td>Year Founded</td>
                <td>@Model.Park.YearFounded</td>
            </tr>
            <tr>
                <td>Acreage</td>
                <td>@Model.Park.Acreage</td>
            </tr>
            <tr>
                <td>Elevation</td>
                <td>@Model.Park.Elevation</td>
            </tr>
            <tr>
                <td>Number of Animal Species</td>
                <td>@Model.Park.NumberOfAnimalSpecies</td>
            </tr>
            <tr>
                <td>Inspirational Quote</td>
                <td>@Model.Park.InspirationalQuote</td>
            </tr>
            <tr>
                <td>Quote Source</td>
                <td>@Model.Park.InspirationQuoteSource</td>
            </tr>
        </tbody>
    </table>

</div>